@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Online voting, also known as e-voting or electronic voting, refers to the process of casting votes using electronic systems through the internet. Instead of voting in person at a polling station or by mail, voters can access a secure online platform to select their preferred candidates or options in an election, referendum, or other decision-making process.
        <hr/>
        <h2>Key Characteristics of Online Voting:</h2>
        Accessibility: Voters can participate from anywhere with an internet connection, making it easier for those who are remote or have mobility challenges.
        Security: Online voting systems typically include multiple layers of security, such as encryption, authentication, and secure servers, to protect the integrity of the vote and ensure that only eligible voters can participate.
        Convenience: It simplifies the voting process, reducing the time and effort required to cast a ballot.
        Transparency and Accuracy: Electronic systems can provide immediate feedback and accurate vote counting, minimizing human errors associated with manual counting.
        Cost-Effectiveness: It can reduce the logistical costs of running an election, such as printing ballots and staffing polling stations.
    </p>
</div>
